#all-cars-background {
	height: 100%;
	display: flex;
	flex-direction: column;
}
#all-cars-title-container {
	margin-top: 5rem;
	height: 2.5rem;
	display: flex;
	background: rgba(6, 68, 0, 1);
}
#all-cars-title {
	margin-left: 2rem;
	margin-top: 0.6rem;
	font-size: 1.3rem;
	font-family: "Helvetica", "Arial", sans-serif;
	font-weight: 200; /* 700,500,400 */
	color: white;
	user-select: none;
}

#all-cars-body {
	background-color: palegreen;
}

#all-cars-grid-body {
	display: flex;
	box-sizing: content-box;
}
#all-cars-grid-header-container {
	display: flex;
}
#all-cars-grid-header-component {
	display: flex;
	width: 10rem;
	height: 3rem;
	border: solid 0.05rem black;
	background-color: palegoldenrod;
}
#all-cars-grid-sort-container {
	padding-right: 0.5rem;
	align-self: center;
}
#all-cars-grid-sort-button {
	font-size: 0.9rem;
	font-family: "Helvetica", "Arial", sans-serif;
	font-weight: 500; /* 700,500,400 */
	cursor: pointer;
	user-select: none;
}
#all-cars-grid-header {
	font-size: 1.4rem;
	font-family: "Helvetica", "Arial", sans-serif;
	font-weight: 500; /* 700,500,400 */
	font-variant: small-caps;
	background-color: palegoldenrod;
	align-self: center;
	padding-left: 0.5rem;
	flex-grow: 3;
}
#all-cars-grid-car {
	display: flex;
}
#all-cars-grid-car-data {
	border: solid 1px black;
	width: 10rem;
	font-size: 1rem;
	font-family: "Helvetica", "Arial", sans-serif;
	font-weight: 200; /* 700,500,400 */
	background-color: palegoldenrod;
	padding: 0.5rem 0rem 0.5rem 0.5rem;
}
