#brand-selected-background {
	height: 100%;
	background-color: aqua;
}

#brand-selected-title {
	display: flex;
	padding: 6rem 2rem 0rem 2rem;
	font-size: 1.5rem;
	font-family: "Helvetica", "Arial", sans-serif;
	font-weight: 500; /* 700,500,400 */
	color: rgb(6, 68, 0);
	user-select: none;
}
