#brand-background {
	height: 100%;
}

#brand-title {
	display: flex;
	padding: 6rem 2rem 0rem 2rem;
	font-size: 1.5rem;
	font-family: "Helvetica", "Arial", sans-serif;
	font-weight: 500; /* 700,500,400 */
	color: rgb(6, 68, 0);
	user-select: none;
}
#brand-spinner-container {
	display: flex;
	position: fixed;
	justify-content: center;
	height: 100%;
	width: 100%;
	z-index: 99;
	background-color: rgb(0, 0, 0);
}
#brand-spinner {
	color: white;
	position: absolute;
	margin: 5rem;
}

#brand-list {
	font-family: "Helvetica", "Arial", sans-serif;
	position: absolute;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
	margin: 0rem 2rem;
	border: black 1rem;
}

#brand-list-child {
	display: flex;
	flex-direction: column;
	width: 20rem;
	height: 12rem;
	margin: 2rem 1rem;
	cursor: pointer;
}
#brand-list-child-title {
	color: rgb(6, 68, 0);
}
#brand-list-child-image {
	object-fit: contain;
	max-width: 80%;
	max-height: 80%;
	width: auto;
	height: auto;
	margin-top: 10%;
}
