#brand-background {
	height: 100%;
}

#brand-title {
	display: flex;
	padding: 2rem;
	font-size: 1.5rem;
	font-family: "Kaisei HarunoUmi", serif;
	font-weight: 500; /* 700,500,400 */
	color: rgb(6, 68, 0);
}
#brand-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
	margin: 2rem;
	border: black 1rem;
}

#brand-list-child {
	display: flex;
	flex-direction: column;
	width: 20rem;
	height: 12rem;
}
#brand-list-child-title {
	color: rgb(6, 68, 0);
}

#brand-list-child-image {
	max-height: 10rem;
	align-self: flex-start;
}
