#car-selected-background {
	background-color: white;
	display: flex;
	flex-direction: column;
	text-decoration: none;
}
#car-selected-back-button-container {
	margin-top: 5rem;
	height: 2.5rem;
	display: flex;
	background: rgba(6, 68, 0, 1);
}
#car-selected-back-button {
	margin-left: 2rem;
	margin-top: 0.6rem;
	font-size: 1.3rem;
	font-family: "Helvetica", "Arial", sans-serif;
	font-weight: 200; /* 700,500,400 */
	color: white;
	cursor: pointer;
}
#car-selected-container {
	display: flex;
	width: 100vw;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
	background-color: white;
}
#car-selected-column-one {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	width: 28rem;
}
#car-selected-column-two {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}
#car-selected-data-container {
	margin-left: 2rem;
}
#car-selected-data-container-link {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
}
#car-selected-data-title {
	margin: 1rem 2rem 0.5rem 2rem;
	font-size: 2rem;
	font-family: "Helvetica", "Arial", sans-serif;
	font-weight: 500; /* 700,500,400 */
	color: black;
	user-select: none;
}
#car-selected-data {
	color: black;
	text-indent: -4.8rem;
	max-width: 25rem;
	margin: 0rem 0rem 0rem 3rem;
	padding: 0.25rem 0rem 0.25rem 4.8rem;
	font-size: 1.3rem;
	line-height: 1.5rem;
	font-family: "Helvetica", "Arial", sans-serif;
	font-weight: 200; /* 700,500,400 */
	user-select: none;
}
#car-selected-data-link {
	color: black;
	margin: 0rem;
	padding: 0.5rem 0rem 0rem 0rem;
	font-size: 1.3rem;
	line-height: 1.2rem;
	font-family: "Helvetica", "Arial", sans-serif;
	font-weight: 200; /* 700,500,400 */
	cursor: pointer;
	color: rgba(6, 68, 0, 1);
}
#car-selected-data-link:hover {
	color: rgba(6, 68, 0, 1);
	text-decoration: underline;
}

#car-selected-image {
	margin: 1rem 0rem 2rem 2rem;
	max-width: 18rem;
	max-height: 12rem;
}
#car-selected-tech-container {
	margin: 0rem 0rem 1rem 2rem;
	box-sizing: content-box;
}
#car-selected-tech-header {
	margin: 1rem 2rem 0.5rem 2rem;
	font-size: 1.5rem;
	font-family: "Helvetica", "Arial", sans-serif;
	font-weight: 500; /* 700,500,400 */
	color: black;
	user-select: none;
}
#car-selected-tech-data {
	color: black;
	text-indent: -4.8rem;
	max-width: 25rem;
	margin: 0rem 0rem 0rem 3rem;
	padding: 0.25rem 0rem 0.25rem 4.8rem;
	font-size: 1.3rem;
	line-height: 1.5rem;
	font-family: "Helvetica", "Arial", sans-serif;
	font-weight: 200; /* 700,500,400 */
	user-select: none;
	/*border: black 0.1rem;
	border-style: hidden hidden inset hidden;*/
}
#car-selected-picture-container {
	margin: 2rem 0rem 0rem 3rem;
	background-color: rgba(6, 68, 0, 1);
	font-family: "Helvetica", "Arial", sans-serif;
	color: white;
	font-weight: 200;
	text-align: center;
}
#car-selected-picture {
	width: 40rem;
}
#car-selected-picture-description {
	align-self: center;
}

#car-selected-about-container {
	margin: 1rem 0rem 0rem 3rem;
	width: 40rem;
	text-align: justify;
}
#car-selected-about-paragraph {
	font-size: 1rem;
	line-height: 1.4rem;
	font-family: "Helvetica", "Arial", sans-serif;
	font-weight: 200; /* 700,500,400 */
}
#car-selected-alt-cars-container {
	display: flex;
	flex-direction: column;
	margin: 1rem 0rem 0rem 3rem;
	width: 40rem;
	text-align: justify;
}

#car-selected-alt-cars-title {
	text-align: justify;
	font-family: "Helvetica", "Arial", sans-serif;
	font-weight: 400; /* 700,500,400 */
	font-size: 1.2rem;
}
#car-selected-alt-cars-data {
	text-align: justify;
	font-family: "Helvetica", "Arial", sans-serif;
	font-weight: 200; /* 700,500,400 */
}
#car-selected-alt-cars-list-container {
	display: flex;
	flex-direction: row;
	padding: 0.5rem 0rem 1rem 1rem;
}
#car-selected-alt-cars-list {
	padding-right: 2rem;
	color: rgba(6, 68, 0, 1);
	cursor: pointer;
	font-size: 1.2rem;
	line-height: 1.2rem;
	font-family: "Helvetica", "Arial", sans-serif;
	font-weight: 200; /* 700,500,400 */
}
#car-selected-alt-cars-list:hover {
	text-decoration: underline;
	color: rgba(6, 68, 0, 1);
}
