#all-cars-background {
	height: 100%;
	display: flex;
	flex-direction: column;
}
#all-cars-title-container {
	margin-top: 5rem;
	height: 2.5rem;
	display: flex;
	background: rgba(6, 68, 0, 1);
}
#all-cars-title {
	margin-left: 2rem;
	margin-top: 0.6rem;
	font-size: 1.3rem;
	font-family: "Helvetica", "Arial", sans-serif;
	font-weight: 200; /* 700,500,400 */
	color: white;
	user-select: none;
}

#all-cars-body {
	background-color: palegreen;
}

#all-cars-grid-body {
	display: flex;
	box-sizing: content-box;
}
#all-cars-grid-header-container {
	display: flex;
}

#all-cars-grid-header-component-brand {
	display: flex;
	width: 8rem;
	height: 3rem;
	border: solid 0.05rem black;
	background-color: palegoldenrod;
}
#all-cars-grid-header-component-model {
	display: flex;
	width: 14rem;
	height: 3rem;
	border: solid 0.05rem black;
	background-color: palegoldenrod;
}
#all-cars-grid-header-component-class {
	display: flex;
	width: 7rem;
	height: 3rem;
	border: solid 0.05rem black;
	background-color: palegoldenrod;
}
#all-cars-grid-header-component-year {
	display: flex;
	width: 6rem;
	height: 3rem;
	border: solid 0.05rem black;
	background-color: palegoldenrod;
}
#all-cars-grid-header-component-technical-hp {
	display: flex;
	width: 5rem;
	height: 3rem;
	border: solid 0.05rem black;
	background-color: palegoldenrod;
}
#all-cars-grid-header-component-technical-torque {
	display: flex;
	width: 7rem;
	height: 3rem;
	border: solid 0.05rem black;
	background-color: palegoldenrod;
}
#all-cars-grid-header-component-technical-zeroSixty {
	display: flex;
	width: 9rem;
	height: 3rem;
	border: solid 0.05rem black;
	background-color: palegoldenrod;
}
#all-cars-grid-header-component-technical-topSpeed {
	display: flex;
	width: 12rem;
	height: 3rem;
	border: solid 0.05rem black;
	background-color: palegoldenrod;
}
#all-cars-grid-sort-container {
	padding-right: 0.5rem;
	/* align-self: center;mbm    */
}
#all-cars-grid-sort-button {
	font-size: 0.9rem;
	font-family: "Helvetica", "Arial", sans-serif;
	font-weight: 500; /* 700,500,400 */
	cursor: pointer;
	user-select: none;
}
#all-cars-grid-header {
	font-size: 1.4rem;
	font-family: "Helvetica", "Arial", sans-serif;
	font-weight: 500; /* 700,500,400 */
	font-variant: small-caps;
	background-color: palegoldenrod;
	align-self: center;
	padding-left: 0.5rem;
	flex-grow: 3;
}
#all-cars-grid-car {
	display: flex;
}
#all-cars-grid-car-data-brand {
	border: solid 1px black;
	width: 8rem;
	font-size: 1rem;
	font-family: "Helvetica", "Arial", sans-serif;
	font-weight: 200; /* 700,500,400 */
	background-color: palegoldenrod;
	padding: 0.5rem 0rem 0.5rem 0.5rem;
}
#all-cars-grid-car-data-model {
	border: solid 1px black;
	width: 14rem;
	font-size: 1rem;
	font-family: "Helvetica", "Arial", sans-serif;
	font-weight: 200; /* 700,500,400 */
	background-color: palegoldenrod;
	padding: 0.5rem 0rem 0.5rem 0.5rem;
	cursor: pointer;
}
#all-cars-grid-car-data-model:hover {
	color: rgba(6, 68, 0, 1);
	text-decoration: underline;
	font-size: 1.2rem;
}

#all-cars-grid-car-data-class {
	border: solid 1px black;
	width: 7rem;
	font-size: 1rem;
	font-family: "Helvetica", "Arial", sans-serif;
	font-weight: 200; /* 700,500,400 */
	background-color: palegoldenrod;
	padding: 0.5rem 0rem 0.5rem 0.5rem;
}
#all-cars-grid-car-data-year {
	border: solid 1px black;
	width: 6rem;
	font-size: 1rem;
	font-family: "Helvetica", "Arial", sans-serif;
	font-weight: 200; /* 700,500,400 */
	background-color: palegoldenrod;
	padding: 0.5rem 0rem 0.5rem 0.5rem;
}
#all-cars-grid-car-data-technical-hp {
	border: solid 1px black;
	width: 5rem;
	font-size: 1rem;
	font-family: "Helvetica", "Arial", sans-serif;
	font-weight: 200; /* 700,500,400 */
	background-color: palegoldenrod;
	padding: 0.5rem 0rem 0.5rem 0.5rem;
}
#all-cars-grid-car-data-technical-torque {
	border: solid 1px black;
	width: 7rem;
	font-size: 1rem;
	font-family: "Helvetica", "Arial", sans-serif;
	font-weight: 200; /* 700,500,400 */
	background-color: palegoldenrod;
	padding: 0.5rem 0rem 0.5rem 0.5rem;
}
#all-cars-grid-car-data-technical-zeroSixty {
	border: solid 1px black;
	width: 9rem;
	font-size: 1rem;
	font-family: "Helvetica", "Arial", sans-serif;
	font-weight: 200; /* 700,500,400 */
	background-color: palegoldenrod;
	padding: 0.5rem 0rem 0.5rem 0.5rem;
}
#all-cars-grid-car-data-technical-topSpeed {
	border: solid 1px black;
	width: 12rem;
	font-size: 1rem;
	font-family: "Helvetica", "Arial", sans-serif;
	font-weight: 200; /* 700,500,400 */
	background-color: palegoldenrod;
	padding: 0.5rem 0rem 0.5rem 0.5rem;
}
