#car-selected-background {
	background-color: white;
	display: flex;
	flex-direction: column;
	text-decoration: none;
}
#car-selected-back-button-container {
	margin-top: 5rem;
	height: 2.5rem;
	display: flex;
	background: rgba(6, 68, 0, 1);
}
#car-selected-back-button {
	margin-left: 2rem;
	margin-top: 0.6rem;
	font-size: 1.3rem;
	font-family: "Helvetica", "Arial", sans-serif;
	font-weight: 200; /* 700,500,400 */
	color: white;
	cursor: pointer;
}
#car-selected-container {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}
#car-selected-data-container {
	margin-left: 2rem;
}
#car-selected-data-container-link {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
}
#car-selected-data-title {
	margin: 1rem 2rem 0.5rem 2rem;
	font-size: 2rem;
	font-family: "Helvetica", "Arial", sans-serif;
	font-weight: 500; /* 700,500,400 */
	color: black;
	user-select: none;
}
#car-selected-data {
	color: black;
	background-color: palegreen;
	text-indent: -4.8rem;
	max-width: 25rem;
	margin: 0rem 0rem 0rem 3rem;
	padding: 0.25rem 0rem 0.25rem 4.8rem;
	font-size: 1.3rem;
	line-height: 1.5rem;
	font-family: "Helvetica", "Arial", sans-serif;
	font-weight: 200; /* 700,500,400 */
	user-select: none;
}
#car-selected-data-link {
	color: black;
	margin: 0rem;
	padding: 0.5rem 0rem 0rem 0rem;
	font-size: 1.3rem;
	line-height: 1.2rem;
	font-family: "Helvetica", "Arial", sans-serif;
	font-weight: 200; /* 700,500,400 */
	cursor: pointer;
	color: rgba(6, 68, 0, 1);
}
#car-selected-data-link:hover {
	color: rgba(6, 68, 0, 1);
	text-decoration: underline;
}

#car-selected-image {
	margin: 1rem 0rem 2rem 2rem;
	max-width: 18rem;
	max-height: 12rem;
}
#car-selected-tech-container {
	margin-left: 2rem;
	box-sizing: content-box;
}
#car-selected-tech-header {
	margin: 1rem 2rem 0.5rem 2rem;
	font-size: 1.5rem;
	font-family: "Helvetica", "Arial", sans-serif;
	font-weight: 500; /* 700,500,400 */
	color: black;
	user-select: none;
}
#car-selected-tech-data {
	color: black;
	background-color: palevioletred;
	text-indent: -4.8rem;
	max-width: 25rem;
	margin: 0rem 0rem 0rem 3rem;
	padding: 0.25rem 0rem 0.25rem 4.8rem;
	font-size: 1.3rem;
	line-height: 1.5rem;
	font-family: "Helvetica", "Arial", sans-serif;
	font-weight: 200; /* 700,500,400 */
	user-select: none;
	border: black 0.1rem;
	border-style: hidden hidden inset hidden;
}
