#background-container {
	height: 100%;
	top: 5rem;
	position: relative;
}
#background-image {
	max-width: 100%;
	z-index: -2;
}

#background-text {
	font-family: "Helvetica", "Arial", sans-serif;
	font-weight: 700;
	position: absolute;
	box-sizing: content-box;
	color: rgba(0, 0, 0, 0.8);
	text-shadow: 2px 2px 0 rgba(255, 255, 255, 0.966);
	letter-spacing: 0.1rem;
	line-height: 7.5rem;
	width: 75rem;
	font-size: 8rem;
	top: 2rem;
	left: 4rem;
	user-select: none;
}

#home-button {
	display: block;
	font-family: "Helvetica", "Arial", sans-serif;
	font-weight: 900;
	font-size: 2rem;
	text-decoration: none;
	color: rgba(0, 0, 0, 1);
	letter-spacing: 0.2rem;
	line-height: 4rem;
	text-align: center;
	position: absolute;
	height: 5rem;
	width: 5rem;
	border: none;
	top: 19.8rem;
	left: 5rem;
	background: rgba(183, 52, 8, 0.7);
	backdrop-filter: blur(0.05rem);
	animation: retract 1s forwards;
}
#home-button:active {
	position: absolute;
	top: 20rem;
	left: 5rem;
}
#home-button:hover {
	animation: extend 1s forwards;
}
@keyframes extend {
	100% {
		width: 10rem;
		background: rgba(183, 52, 8, 0.8);
	}
}
@keyframes retract {
	0% {
		width: 10rem;
		background: rgba(183, 52, 8, 0.8);
	}
	100% {
		width: 5rem;
	}
}

*/ :active,
:focus {
	outline: 0;
}
