#navbar-brand {
	font-family: "Kaisei HarunoUmi", serif;
	font-weight: 500; /* 700,500,400 */
	font-size: 2.5rem;
	align-self: center;
	padding: 0px 10px;
	height: 65px;
}
#navbar-links {
	font-family: "Kaisei HarunoUmi", serif;
	font-weight: 400; /* 700,500,400 */
	font-size: 1.5rem;
	align-self: center;
	flex-direction: column;
}

#navbar-link {
	padding: 0px 10px;
	height: 65px;
	align-self: center;
}
