#navbar-container {
	height: 5rem;
	background-color: black; /*background-color: rgba(103, 221, 255, 0.7);*/
	position: fixed;
	width: 100%;
	z-index: 999;
}
#navbar-brand {
	font-family: "Work Sans", sans-serif;
	font-weight: 600; /* 700,500,400 */
	font-size: 3rem;
	/*color: rgba(101, 25, 4, 1); */
	color: whitesmoke;
	align-self: center;
	padding: 0px 10px;
}
#navbar-links {
	font-family: "Work Sans", sans-serif;
	font-weight: 400; /* 700,500,400 */
	font-size: 1.5rem;
}

#navbar-link {
	/*color: rgba(101, 25, 4, 1);*/
	color: whitesmoke;
	padding: 15px 10px;
	height: 3rem;
	align-self: center;
}
